<style>
#agreement-text{
  margin: 20px 20px;
}

.field>div{
  display: inline-block;
}

</style>


<%= form_with(model: petition) do |form| %>
  <% if petition.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(petition.errors.count, "error") %> prohibited this petition from being saved:</h3>

      <ul>
        <% petition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label(:topic,'Petition Topic') %>
    <%= form.select(:topic, options_for_select(Petition.translated_topics.map { |translation, k, _v| [translation, k] })) %>
  </div>

  <div class="field">
    <%= form.label :slug, "URL Slug:" %>
    petition.stanford.edu/<%= form.text_field :slug, :maxlength => 100 %>
  </div>

  <div class="field">
    <%= form.label :title, "Title: " %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.rich_text_area :content %>
  </div>

  <div id="agreement-text">
    <p>
    I hereby certify, under penalty of disqualification, that I am a full-time, enrolled student of Stanford University, and that the above information is correct to the best of my knowledge. 
    I agree to abide by the ASSU Constitution, Association By-Laws, Election Code and Stanford University rules and policies. 
    I understand that I am responsible for all information contained in the Election Handbook and the information that will be presented at the Candidate Orientation as well as future announcements from the Election Commission. 
    I also understand that any violation of election, Association or University rules could result in sanction and/or disqualification from the election.
    </p>
    <div class="field">
    <%= form.label :agree, "Agree: " %>
    <%= form.check_box :agree %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>
