<h1>Petitions</h1>

<table>
  <thead>
    <tr>
      <th>Slug</th>
      <th>Sponsor</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petitions.each do |petition| %>
      <tr>
        <td><%= petition.slug %></td>
        <td><%= petition.user.id %></td>
        <td><%= petition.title %></td>
        <td><%= link_to 'Show', petition %></td>
        <td><%= link_to 'Edit', edit_petition_path(petition) %></td>
        <td><%= link_to 'Delete', petition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition', new_petition_path %>
