<p>
  <strong>Slug:</strong>
  <%= @petition.slug %>
</p>

<p>
  <strong>Title:</strong>
  <%= @petition.title %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @petition.user.id %>
</p>

<strong>Content:</strong>
<div class="content">
  <%= @petition.content %>
</div>

<%= link_to 'Edit', edit_petition_path(@petition) %> |
<%= link_to 'Back', petitions_path %> |
<%= link_to 'Public View', "/"+@petition.slug  %>
