<p>
  <strong>Slug:</strong>
  <%= @petition.slug %>
</p>

<p>
  <strong>Title:</strong>
  <%= @petition.title %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @petition.user.id %>
  (<%= @petition.user.name %>)
</p>

<strong>Content:</strong>
<div class="content">
  <%= @petition.content %>
</div>

<div>
  <%= link_to 'Edit', edit_petition_path(@petition) %> |
  <%= link_to 'Back', petitions_path %> |
  <%= link_to 'Public View', "/"+@petition.slug %> |
  <%= link_to 'Delete', @petition, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% if @petition.signees.exists?(current_user.id) %>
    <%= link_to 'Unsign Petition', unsign_petition_path(@petition), method: :delete %>
  <% else %>
    <%= link_to 'Sign Petition', sign_petition_path(@petition), method: :post %>
  <% end %>
</div>

<br>

<div>
  <strong> <%= @petition.signees.length %> Signees: </strong>
  <div>
      <% @petition.signees.each do |signee| %>
        <br><%= signee.id %>
        (<%= signee.name %>)
      <% end %>
  </div>
</div>