<h2>
  <%= @petition.title %>
</h2>

<p>
  <strong>Sponsor:</strong>
  <%= @petition.user.id %>
  (<%= @petition.user.name %>)
</p>

<div class="content">
  <%= @petition.content %>
</div>

<div>
  <% if user_signed_in? %> 
    <% if @petition.signees.exists?(current_user.id) %>
      <%= link_to 'Unsign Petition', unsign_petition_path(@petition), method: :delete %>
    <% else %>
      <%= link_to 'Sign Petition', sign_petition_path(@petition), method: :post %>
    <% end %>
  <% end %>
</div>

<br>

<div>
  <strong> <%= @petition.signees.length %> Signees: </strong>
  
  <div>
      <% @petition.signees.each do |signee| %>
        <br><%= signee.id %>
        (<%= signee.name %>)
      <% end %>
  </div>
</div>