<h2>
  <%= @petition.title %>
</h2>

<div class="field"> 
  <strong>Petition Topic: </strong><%= @petition.translated_topic %> 
</div>

<div class="field"> 
  <strong>Sponsor: </strong><%= @petition.user.id %> (<%= @petition.user.name %>)
</div>

<div class="field"> 
  <strong>Slug: </strong><%= @petition.slug %>
</div>

<strong>Content:</strong>
<div class="content">
  <%= @petition.content %>
</div>

<div class="link-list">
  <%= link_to 'Edit', edit_petition_path(@petition) %> |
  <%= link_to 'Back', petitions_path %> |
  <%= link_to 'Public View', "/" + @petition.slug %> |
  <%= link_to 'Delete', @petition, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" } %>
</div>

<div class="signature-list">
  <strong> <%= @petition.signees.length %> Signees: </strong>
    <% @petition.signees.each do |signee| %>
      <div class="signature">
        <%= signee.id %> (<%= signee.name %>)
      </div>
    <% end %>
</div>