<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label(:id,'EPPN') %> 
    <%= form.text_field :id %> @stanford.edu
  </div>

  <div class="field">
    <%= form.label(:member_type,'Affilliation') %>
    <%= form.select(:member_type, User.member_types.keys) %>
  </div>

  <div class="field">
    <%= form.label(:coterm,'Co-Term') %>
    <%= form.check_box(:coterm) %>
  </div>

  <div class="field">
    <%= form.label(:ug_year,'Undergrad Class Year') %>
    <%= form.select(:ug_year, User.ug_years.keys) %>
  </div>
  
  <div class="field">
    <%= form.label(:admin,'Admin') %>
    <%= form.check_box(:admin) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
