<h2>Users</h2>

Found <%= @users.length %> users. <br>
Undergrads: <%= @users.select { |u| u.member_type == 'undergrad' }.length %> <br>
Grads: <%= @users.select { |u| u.member_type == 'grad' }.length %> <br>

<%= form_tag(users_path(:id), method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<%end%>

<div>
  <table>
    <thead>
      <tr>
        <th>EPPN</th>
        <th>Name</th>
        <th>Membership</th>
        <th>Co-Term</th>
        <th>UG Year</th>
        <th>Last Login</th>
        <th>Admin</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.member_type %></td>
          <td><%= user.coterm %></td>
          <td><%= user.ug_year %></td>
          <td><%= user.last_login %></td>
          <td><%= user.admin %></td>
          <td><%= link_to 'Show', user_path(user) %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user_path(user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="link-list">
  <%= link_to 'New User', new_user_path %>
</div>