<h2>Voter Profile</h2>

<div class="field"> <strong>Email: </strong><%= @user.id %> </div>

<div class="field"> <strong>Name: </strong><%= @user.name %> </div>

<div class="field"> <strong>Affiliation: </strong><%= @user.member_type %> </div>

<% if current_user.admin %> 
  <div class="field"> <strong>Admin: </strong> <%= @user.admin %> </div>
  <div class="link-list">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
<% end %>

<div class="signature-list">
  <strong> <%= @user.signatures.length %> Signatures: </strong>
  <% @user.signatures.each do |signature| %>
    <div class="signature">
    <%= link_to signature.title, "/" + signature.slug %>
    </div>
  <% end %>
</div>