<h2>Voter Profile</h2>

<div class="field"> <strong>SUNet ID: </strong><%= @user.id %> </div>

<div class="field"> <strong>Name: </strong><%= @user.name %> </div>

<div class="field"> <strong>Affiliation: </strong><%= @user.translated_member_type %> </div>

<div class="field"> <strong>Co-Term: </strong><%= @user.coterm.humanize %> </div>

<% if @user.undergrad? %>
<div class="field"> <strong>Undergrad Class Year: </strong><%= @user.translated_ug_year %> </div>
<% end %>

<% if @user.coterm %> 
  <p>You are listed as a Co-Term student, meaning you may opt to identify as either a Gradudate or Undergraduate for this election. 
  Your affiliation has been set based on your billing group for winter quarter.
  If you'd like to change it, please reach out to <a href = "mailto: elections@assu.stanford.edu">elections@assu.stanford.edu</a>.</p>
<% end %>

<% if @user.undergrad? %> 
  <p>Your Undergrad class year is based on the number of enrolled quarters at Stanford. 
  If this does not reflect your "social class" year, you may request to have it changed. 
  Please reach out to <a href = "mailto: elections@assu.stanford.edu">elections@assu.stanford.edu</a>.</p>
<% end %>

<% if current_user.admin %> 
  <div class="field"> <strong>Admin: </strong> <%= @user.admin %> </div>
  <div class="link-list">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
<% end %>

<div class="signature-list">
  <strong> <%= @user.signatures.length %> Signatures: </strong>
  <% @user.signatures.each do |signature| %>
    <div class="signature">
    <%= link_to signature.title, "/" + signature.slug %>
    </div>
  <% end %>
</div>