<p>
  <strong>Email:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @user.member_type %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br><br>

<div>
  <strong> <%= @user.signatures.length %> Signatures: </strong>
  <div>
      <% @user.signatures.each do |signature| %>
        <br><%= link_to signature.title, "/"+signature.slug %>
      <% end %>
  </div>
</div>