<div class="container">
<div class="main-content">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <%=raw content_tag :div, msg, id:"flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

  <%= link_to "Users", users_path %>
  <%= link_to "Petitions", petitions_path %>

  <h1>Welcome to the new ASSU petitioning interface!</h1>

<% if user_signed_in? %> 
    Logged in as <%= current_user.id %><br>
    Hello, <%= current_user.name %>
<% else %>
    <%= button_to "Login", action: :saml_login %>
<% end %>
</div>  
</div> 