<!DOCTYPE html>
<html>
  <head>
    <title>ASSU Petitioning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Rubik' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>

  <div class="top_bar">

    <%= link_to "Home", root_path %>

    <% if current_user %> 
      <%= link_to "Voter Profile", user_path(current_user) %>
      <%= link_to "My Petitions", petitions_path %>
    <% end %>

    <% if current_user && current_user.admin %> 
      <%= link_to "Users", users_path %>
    <% end %>

    <%= link_to "All Petitions", leaderboard_petitions_path %>

    <div class="login" >
      <% if user_signed_in? %> 
        Logged in as <%= current_user.id %>
        <%= link_to "Logout", saml_logout_path, method: :post %>
      <% else %>
        <%= link_to "Login", saml_login_path, method: :post %>
      <% end %>
    </div>

  </div>

  <% if notice %> 
    <div class="notice"><%= notice %></div>
  <% end %>

  <% if alert %> 
  <div class="alert"><%= alert %></div>
  <% end %>


  <div class = "page_content">
    <%= yield %>
  </div>

  <% if !current_page?(:controller => 'application', :action => 'index') # hacky %>
    <div class="logo">
      <%= image_tag("ASSU-Logo-Primary-RGB.png", :alt => "ASSU Logo Banner", :class => "banner_img") %>
    </div>
  <% end %>

  </body>
</html>
