<!DOCTYPE html>
<html>
  <head>
    <title>ASSU Petitioning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Rubik' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
  
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

  <div id="top_bar">

    <!-- <%= image_tag("ASSU-Logo-Primary-RGB.png", :alt => "ASSU Logo Banner", :class => "banner_img") %> -->

    <%= link_to "Home", root_path, :class => "menu_link" %>

    <% if current_user %> 
      <%= link_to "Voter Profile", user_path(current_user), :class => "menu_link" %>
      <%= link_to "My Petitions", petitions_path, :class => "menu_link" %>
    <% end %>

    <% if current_user && current_user.admin %> 
      <%= link_to "Users", users_path, :class => "menu_link" %>
    <% end %>

    <%= link_to "Leaderboard", leaderboard_petitions_path, :class => "menu_link" %>

    <div class="login" >
      <% if user_signed_in? %> 
        Logged in as <%= current_user.id %> <%= button_to "Logout", action: :saml_logout, :controller => "application"%>
      <% else %>
        <%= button_to "Login", action: :saml_login, :controller => "application" %>
      <% end %>
    </div>

  </div>

  <div class = "page_content">
    <%= yield %>
  </div>

  </body>
</html>
